In [1]:
!pip install fake_useragent

Requirement already satisfied: fake_useragent in /usr/local/lib/python3.6/dist-packages (0.1.11)

In [2]:
from fake_useragent import UserAgent

ua1 = UserAgent()
randomHeader = {'User-Agent':str(ua1.random)}

In [3]:
import requests
import bs4

In [4]:
scrapeLink = 'https://en.wikipedia.org/wiki/Megacity'
page = requests.get(scrapeLink, randomHeader)

In [5]:
print(page)

<Response [200]>

In [6]:
scrape = bs4.BeautifulSoup(page.text, 'html.parser')      # This gives the HTML format of the page which we will scrape

In [7]:
# Comment out the line to check the source code in HTML
# print(scrape)

In [8]:
Table = scrape.find_all('table')[1]     # because while inspecting we have found that the table of which the source code we wanted
                                        # is table no. 2

In [9]:
rowValList = []

for i in range(len(Table.find_all('td'))):          # Since <td> contains all the information, therefore, we will extract the texts inside <td> </td>
    rowValue = Table.find_all('td')[i].get_text()
    rowValList.append(rowValue)

In [10]:
print(rowValList)

['\n', '\xa0India\n', 'Asia\n', '12,200,000\n', '13,707,000\n', '11,440,000\n', '\n', '\xa0Thailand\n', 'Asia\n', '18,800,000\n', '17,066,000\n', '10,156,000\n', '\n', '\xa0China\n', 'Asia\n', '19,800,000\n', '19,433,000\n', '19,618,000\n', '\n', '\xa0Colombia\n', 'South America\n', '9,600,000\n', '9,464,000\n', '10,574,000\n', '\n', '\xa0Argentina\n', 'South America\n', '16,400,000\n', '16,157,000\n', '14,967,000\n', '\n', '\xa0Egypt\n', 'Africa\n', '21,000,000\n', '19,372,000\n', '20,076,000\n', '\n', '\xa0China\n', 'Asia\n', '9,600,000\n', '11,309,000\n', '8,813,000\n', '\n', '\xa0India\n', 'Asia\n', '11,300,000\n', '11,324,000\n', '10,456,000\n', '\n', '\xa0China\n', 'Asia\n', '8,150,000\n', '7,739,000\n', '14,838,000\n', '\n', '\xa0India\n', 'Asia\n', '30,300,000\n', '29,617,000\n', '28,514,000\n', '\n', '\xa0Bangladesh\n', 'Asia\n', '20,200,000\n', '15,443,000\n', '19,578,000\n', '\n', '\xa0China\n', 'Asia\n', '46,700,000\n', '20,902,000\n', '12,638,000\n', '\n', '\xa0Vietnam\n', 'Asia\n', '8,600,000\n', '13,312,000\n', '8,145,000\n', '\n', '\xa0India\n', 'Asia\n', '10,200,000\n', '9,746,000\n', '9,482,000\n', '\n', '\xa0Turkey\n', 'Europe, Asia\n', '16,000,000\n', '15,154,000\n', '14,751,000\n', '\n', '\xa0Indonesia\n', 'Asia\n', '31,300,000\n', '34,540,000\n', '10,517,000\n', '\n', '\xa0South Africa\n', 'Africa\n', '13,900,000\n', '9,505,000\n', '5,486,000\n', '\n', '\xa0Pakistan\n', 'Asia\n', '17,800,000\n', '14,835,000\n', '15,400,000\n', '\n', '\xa0DR Congo\n', 'Africa\n', '12,400,000\n', '13,528,000\n', '13,171,000\n', '\n', '\xa0India\n', 'Asia\n', '16,800,000\n', '17,560,000\n', '14,681,000\n', '\n', '\xa0Nigeria\n', 'Africa\n', '19,400,000\n', '15,279,000\n', '13,463,000\n', '\n', '\xa0Pakistan\n', 'Asia\n', '13,000,000\n', '11,021,000\n', '11,738,000\n', '\n', '\xa0Peru\n', 'South America\n', '10,100,000\n', '9,848,000\n', '10,391,000\n', '\n', '\xa0United Kingdom\n', 'Europe\n', '14,800,000\n', '10,979,000\n', '9,046,000\n', '\n', '\xa0United States\n', 'North America\n', '17,700,000\n', '15,402,000\n', '12,458,000\n', '\n', '\xa0Philippines\n', 'Asia\n', '25,700,000\n', '23,088,000\n', '13,482,000\n', '\n', '\xa0Mexico\n', 'North America\n', '23,000,000\n', '20,996,000\n', '21,581,000\n', '\n', '\xa0Russia\n', 'Europe\n', '17,300,000\n', '17,125,000\n', '12,410,000\n', '\n', '\xa0India\n', 'Asia\n', '25,100,000\n', '23,355,000\n', '19,980,000\n', '\n', '\xa0Japan\n', 'Asia\n', '10,500,000\n', '9,113,000\n', '9,507,000\n', '\n', '\xa0United States\n', 'North America\n', '22,100,000\n', '20,870,000\n', '18,819,000\n', '\n', '\xa0Japan\n', 'Asia\n', '17,700,000\n', '14,977,000\n', '19,281,000\n', '\n', '\xa0France\n', 'Europe\n', '11,400,000\n', '11,020,000\n', '10,901,000\n', '\n', '\xa0Brazil\n', 'South America\n', '13,200,000\n', '12,272,000\n', '13,293,000\n', '\n', '\xa0Brazil\n', 'South America\n', '22,400,000\n', '22,046,000\n', '21,650,000\n', '\n', '\xa0South Korea\n', 'Asia\n', '24,800,000\n', '21,794,000\n', '9,963,000\n', '\n', '\xa0China\n', 'Asia\n', '33,600,000\n', '22,120,000\n', '25,582,000\n', '\n', '\xa0China\n', 'Asia\n', 'Combined withGuangzhou\n', '15,929,000\n', '11,908,000\n', '\n', '\xa0Iran\n', 'Asia\n', '15,300,000\n', '13,633,000\n', '8,896,000\n', '\n', '\xa0China\n', 'Asia\n', '12,700,000\n', '10,800,000\n', '13,215,000\n', '\n', '\xa0Japan\n', 'Asia\n', '40,400,000\n', '37,977,000\n', '37,468,000\n', '\n', '\xa0China\n', 'Asia\n', '10,000,000\n', '4,773,000\n', '3,585,000\n']

In [11]:
# Cleaning the text and removing \n and \xa
import re
RowList = []
for i in rowValList:
  i = i.replace('\n', '')
  i = i.replace(u'\xa0', u'')
  RowList.append(i)

In [12]:
countryList = []
for i in range(1, len(RowList), 6):
    countryList.append(RowList[i])
    
continentList = []
for i in range(2, len(RowList), 6):
    continentList.append(RowList[i])

populationList = []
for i in range(3, len(RowList), 6):
    populationList.append(RowList[i])

In [13]:
print(countryList)

['India', 'Thailand', 'China', 'Colombia', 'Argentina', 'Egypt', 'China', 'India', 'China', 'India', 'Bangladesh', 'China', 'Vietnam', 'India', 'Turkey', 'Indonesia', 'South Africa', 'Pakistan', 'DR Congo', 'India', 'Nigeria', 'Pakistan', 'Peru', 'United Kingdom', 'United States', 'Philippines', 'Mexico', 'Russia', 'India', 'Japan', 'United States', 'Japan', 'France', 'Brazil', 'Brazil', 'South Korea', 'China', 'China', 'Iran', 'China', 'Japan', 'China']

In [14]:
import pandas as pd

megaDt = pd.DataFrame()
megaDt['Country'] = countryList
megaDt['Continent'] = continentList
megaDt['Population'] = populationList

megaDt.head()

     Country      Continent  Population
0      India           Asia  12,200,000
1   Thailand           Asia  18,800,000
2      China           Asia  19,800,000
3   Colombia  South America   9,600,000
4  Argentina  South America  16,400,000